p {
    text-align: center;
}

.bg-snowy { 
    background: url(../images/bg_snowy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-sunny { 
    background: url(../images/bg_sunny01.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    height: 50px;
    width: auto;
    margin: auto;
  }

  #video-player {
    width: 75%;
    height: auto;
    margin: auto;
  }

  #go-back {
    margin: 10px;
  }

  #button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%; 
 }

  #sunny, #snowy {
    margin-right: 5%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  #snowy {
    margin-left: 5%;
  }